.r1{
   padding-top: 10px;
     }
    
.sidenav{
       margin: 22px;
       height: 100%;
       width: 0;
       position: fixed;
       z-index: 1;
       top: 0;
       left: 0;
       background-color: white;
       overflow-x: hidden;
       transition: 0.5s;
       padding-top: 40px;
         }

.sidenav a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 17px;
        color: black;
        display: block;
        transition: 0.3s;
            }

.sidenav a:hover {
               color: solid black;
            }

.sidenav.closebtn{
              position: absolute;
              top: 0;
              right: 10px;
              font-size: 20px;
              margin-left: 30px;
                  } 
.icon{
    margin: 20px;
       }

.social_icon{
          margin: 3px;
              }

.col1 {
     width: 50%;
     float: left;
     padding: 15px;
        }

.col2{
    width:40%;
    float: right;
    padding: 15px;
        }

.tmp{
   background-color: red;
    border: 15px  
      }

.nav{
   padding: 5px;
      }
             
.nav li{
      list-style: none;
      display: inline-block;
      padding: 8px;
          }

.nav a{
     color: #fff;
         }


.col{
   float: left;
   width: 25%;
   padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.bell{
        height: 30px;
        background: no-repeat;
        border: none;
        float: right;
}

@media screen and (max-width: 600px) {
  .r1 {
    width: 100%;
  }
 
}

@media only screen and (min-width : 600px) and (max-width : 1020px) {
    .video{
       height: 350px;
        width: 600px;
       
    }
    .col-sm-6{
        max-width: 100%;
        width: 100%;
    }
}
@media (min-width: 576px) {
.frame {
    max-width: 840px;
    width: 100%;
}
}

.container{
        width: 300px;
        padding: 5px 5px;
            }

textarea{
     height: 30px;
     width: 750px;
     border: none;
     border-bottom: 1px solid #aaa;
     background-color: transparent;
     margin-bottom: 2px;
     resize: none;
     outline: none;

}
input[type="submit"]
{
  
  padding: 4px 4px;
  border: none;
  outline: none;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  background-color: blue;
}

 #sort_btn {
    background: none;
    border: none;
    text-transform: uppercase;
    color: rgb(151, 148, 148);
}
.sub_btn{
    background-color: #cc0000;
    border: none;
    color: #f9f9f9;
    padding: 10px 16px 10px 16px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    
}

      #name{
        background: no-repeat;
        border: none;
        width:90%;


}
#name:hover{
    border-bottom-style: solid ;
    border-color: black;
    border-width: 1px;
}
.one{
    display: inline;
}
.name{
    color: black;
    font-weight: bolder;
    font-size: large;
}
.date{
    color: rgb(128, 125, 125);
    font-size: smaller;
}

.comment_post{
    display: block;
    color: black;
    margin-left: 7%;
}
.likes{
    padding: 1%;
    color: rgb(116, 110, 110);
    background: none;
    border: none;
}
.comment{
        margin-bottom: 3%;
}
.comments{
        margin-top: 1%;
}

.tmp2{
  float: right;
}
.tmp3{
  border:none;
  background-color: none;
 
}       
